    h1 {
      color: Indianred;
      border-style: groove;
      border-width:thick;
      border-color: black;
      text-align: center;
      background-color: purple;
      font-style: italic;
      font-size: 35px
    }
    h2 {
      color: darkturquoise;
      border-style: dashed;
      border-width:medium;
      border-color: DarkOrange;
      text-align: center;
      background-color: #426985;
      font-style: oblique;
    }
    h3 {
      color: FireBrick;
      border-style: double;
      border-width: 7px;
      border-color: GoldenRod;
      text-align: center;
      background-color: black;
    }
    p {
      color: #d85f25;
      border-style: double;
      border-width: 10px;
      border-color: black;
      text-align: center;
      background-color: #8ccff4;
    }
    body {
      background-color: DimGrey;
      border-style: solid;
      border-width: thick;
      border-color: Green;
      }
    a:hover {
      background-color: Yellow;
      border-style: double;
      border-width: 10px;
      border-color: black;
    }
    footer{
      color: pink;
      border-style: ridge;
      border-width: thick;
      border-color: pink;
      text-align: center;
    }
